@import "tailwindcss";

:root {
  --prim-color: #b3f7ef;
  --prim-light: #5c97f063;
  --prim-color2: #f381cd;
  --white-color: #fff;
  --black-color: #000;

  --Unbounded: "Unbounded", sans-serif;
  --Merienda: "Merienda", cursive;

--transtition-regular:0.3s;
--transtition-slow:0.6s;

}

.Unbounded {
  font-family: var(--Unbounded);
}

.Merienda {
  font-family: var(--Merienda);
}

body{
  background-color: #222427;
  color: var(--white-color);

}