@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Unbounded:wght@200..900&display=swap');


@import "tailwindcss";

@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'remixicon/fonts/remixicon.css';

:root {
  --prim-color: #b3f7ef;
  --prim-light: #5c97f063;
  --prim-color2: #f381cd;
  --white-color: #fff;
  --black-color: #000;

  --Unbounded: "Unbounded", sans-serif;
  --Merienda: "Merienda", cursive;

--transtition-regular:0.3s;
--transtition-slow:0.6s;

}

.Unbounded {
  font-family: var(--Unbounded);
}

.Merienda {
  font-family: var(--Merienda);
}

body{
  background-color: #222427;
  color: var(--white-color);

}